/*** Start widget_archive***/
.foucs-newspaper-sidebar {
    .widget_archive {
        ul {
            padding: 5px;
            background-color: $white-color;
            @include prefixer (border, 1px solid $border_color);
            @include prefixer (box-shadow, 1px 1px 3px 1px $box-shadow);
            @include prefixer (border-radius, 10px);
            li {
                margin: 5px 0;
                @include prefixer (border-bottom, 2px solid $border_color );
                &:last-child {
                    margin-bottom: 0;
                    @include prefixer (border-bottom, none );
                }
                a {
                    font-family: $second-font;
                    text-decoration: none;
                    color: $primary_color;
                    font-size: 16px;
                    font-weight: 500;
                    @include prefixer (transition, all 0.3s);
                    &:hover {
                        color: $secondary_color;
                        @include prefixer (transition, all 0.3s);
                    }
                }
            }
        }
    }
}

/*** End widget_archive ***/