/*** Start widget_categories ***/
.foucs-newspaper-sidebar {
    .foucs-widget-category {
        .all-taxonomy {
            @include prefixer (border, 1px solid $border_color);
            @include prefixer (border-radius, 5px);
            @include prefixer (box-shadow, 1px 1px 3px 1px $box-shadow);
            .taxonomy {
                margin: 5px 0;
                @include prefixer (border-bottom, 1px solid $border_color);
                @include prefixer (transition, all 0.3s);
                &:last-child {
                    @include prefixer (border-bottom, none);
                }
                a {
                    text-decoration: none;
                    .name {
                        text-transform: capitalize;
                        font-family: $main-font;
                        font-size: 18px;
                        color: $primary_color;
                        font-weight: 600;
                        margin-left: 5px;
                    }
                }
                .count-num {
                    color: $icon_slid_color;
                    font-family: $second-font;
                    font-size: 18px;
                    font-weight: 500;
                    float: right;
                }
                &:hover {
                    .name,
                    .count-num {
                        color: $secondary_color;
                        @include prefixer (transition, all 0.3s);
                    }
                }
            }
        }
    }
}

/*** End widget_categories ***/