/*** Start foucs-top-post-widget ***/
.foucs-newspaper-sidebar {
    .foucs-widget-top-post {
        .foucs-top-post-widget {
            background-color: $white-color;
            @include prefixer (border, 1px solid $border_color);
            @include prefixer (box-shadow, 1px 1px 3px 1px $box-shadow);
            @include prefixer (border-radius, 10px);
            .body-post {
                margin: 5px 0;
                width: 100%;
                height: auto;
                overflow: hidden;
                position: relative;
                padding: 5px;
                @include prefixer (border-bottom, 1px solid $border_color);
                &:last-child {
                    @include prefixer (border-bottom, none);
                }
                .img-top {
                    width: 80px;
                    height: 70px;
                    display: inline-block;
                    overflow: hidden;
                    @include prefixer (border-radius, 5px);
                    .post-img {
                        width: 100%;
                        height: 100%;
                        position: relative;
                        display: inline-block;
                        @include prefixer (border-radius, 5px);
                        img {
                            width: 100%;
                            height: 100%;
                            position: relative;
                        }
                    }
                }
            }
            .top-post-title {
                position: absolute;
                display: inline-block;
                width: 10.2em;
                overflow: hidden;
                margin-left: 5px;
                a {
                    text-decoration: none;
                }
                .post-title {
                    font-family: $main-font;
                    font-size: 17px;
                    color: $primary_color;
                    font-weight: 600;
                    @include prefixer (transition, all 0.3s);
                    &:hover {
                        color: $secondary_color;
                        @include prefixer (transition, all 0.3s);
                    }
                }
            }
        }
    }
}
/*** End foucs-top-post-widget ***/