/** Start Old Post Block ***/
.artical-container {
    .artical-body {
        .artical-name {
            padding-bottom: 2.90px;
            @include prefixer(border-bottom, 2px solid $old_post_color);
            .old-post {
                background: $old_post_color;
                padding: 5px;
                color: $white-color;
                font-size: 18px;
                font-family: $main-font;
                font-weight: 600;
                @include prefixer(border-radius, 5px);
            }
        }
        .old-one-body {
            margin-top: 10px;
            padding: 5px;
            background-color: $white-color;
            @include prefixer (border, 1px solid $border_color);
            @include prefixer (box-shadow, 1px 1px 3px 1px $box-shadow);
            @include prefixer (border-radius, 10px);
        }
        .old-post-body {
            margin-bottom: 15px;
            .old-one,
            .all-old {
                display: contents;
            }
            .old-one {
                .col-lg-6 {
                    padding-left: 0;
                    .post-img-old {
                        width: 100%;
                        height: 330px;
                        overflow: hidden;
                        .post-img {
                            width: 100%;
                            height: 100%;
                            position: relative;
                            img {
                                width: 100%;
                                height: 100%;
                                position: relative;
                                @include prefixer (border-radius, 2%);
                            }
                        }
                    }
                    .old-post-title {
                        width: 100%;
                        margin-top: 10px;
                        overflow: hidden;
                        a {
                            text-decoration: none;
                        }
                        .post-title {
                            font-family: $main-font;
                            font-size: 18px;
                            color: $primary_color;
                            font-weight: 600;
                            @include prefixer (transition, all 0.3s);
                            &:hover {
                                color: $secondary_color;
                                @include prefixer (transition, all 0.3s);
                            }
                        }
                    }
                    .post-author,
                    .old-post-date,
                    .old-post-comment {
                        display: contents;
                        i {
                            color: $icon_slid_color ;
                            margin-right: 3px;
                        }
                    }
                    .post-author {
                        color: $white_color;
                        margin-right: 6px;
                        font-size: 15px;
                        font-family: $main-font ;
                        font-weight: 700;
                        a {
                            text-decoration: none;
                            color: $primary_color;
                            @include prefixer (transition, all 0.3s);
                            &:hover {
                                color: $secondary_color;
                                @include prefixer (transition, all 0.3s);
                            }
                        }
                    }
                    .old-post-date {
                        .old-date {
                            font-family: $second-font;
                            font-size: 14px;
                            margin-right: 5px;
                            font-weight: 400;
                        }
                    }
                    .old-post-comment {
                        .comment {
                            a {
                                font-family: $second-font;
                                text-decoration: none;
                                color: $primary_color;
                                @include prefixer (transition, all 0.3s);
                                &:hover {
                                    color: $secondary_color;
                                    @include prefixer (transition, all 0.3s);
                                }
                            }
                        }
                    }
                    .old-post-content {
                        width: 100%;
                        margin-top: 10px;
                        overflow: hidden;
                        p {
                            color: $content_color;
                            font-family: $main-font;
                            font-size: 15px;
                            font-weight: 700;
                            margin-bottom: 3px;
                        }
                    }
                }
            }
            .all-old {
                .col-lg-6 {
                    padding-right: 0;
                    .all-old-body {
                        margin-top: 10px;
                        background-color: $white-color;
                        @include prefixer (border, 1px solid $border_color);
                        @include prefixer (box-shadow, 1px 1px 3px 1px $box-shadow);
                        @include prefixer (border-radius, 10px);
                        .img-all-old {
                            width: 100px;
                            height: 90px;
                            padding: 3px;
                            display: inline-block;
                            overflow: hidden;
                            @include prefixer (border-radius, 15px);
                            .post-img {
                                width: 100%;
                                height: 100%;
                                position: relative;
                                display: inline-block;
                                img {
                                    width: 100%;
                                    height: 100%;
                                    position: relative;
                                }
                            }
                        }
                        .all-old-post-title {
                            position: absolute;
                            margin-top: 10px;
                            margin-left: 5px;
                            display: inline-block;
                            a {
                                text-decoration: none;
                            }
                            .post-title {
                                font-family: $main-font;
                                font-size: 17px;
                                color: $primary_color;
                                font-weight: 600;
                                @include prefixer (transition, all 0.3s);
                                &:hover {
                                    color: $secondary_color;
                                    @include prefixer (transition, all 0.3s);
                                }
                            }
                        }
                        .old-all-post-date,
                        .old-all_post-view {
                            display: inline-block;
                            position: relative;
                            bottom: 5px;
                        }
                        .old-all-post-date {
                            margin-left: 5px;
                            i {
                                color: $icon_slid_color ;
                                margin-right: 3px;
                            }
                            .all-old-date {
                                font-family: $second-font;
                                font-size: 14px;
                                margin-right: 5px;
                                font-weight: 400;
                            }
                        }
                        .old-all_post-view {
                            i {
                                color: $icon_slid_view;
                                margin-right: 3px;
                            }
                        }
                    }
                }
            }
        }
    }
}

/** End Old Post Block ***/