/*** Start slider ***/
.singl-page-rand-post {
    margin: 20px 0;
    background-color: $white-color;
    width: 100%;
    overflow: hidden;
    padding: 5px;
    @include prefixer (border, 1px solid $border_color);
    @include prefixer (box-shadow, 1px 1px 3px 1px $box-shadow);
    .hed-slider {
        display: inline-block;
        text-transform: capitalize;
        color: $primary_color;
        padding: 9px;
        margin-bottom: 0.77em;
        @include prefixer (border-bottom, 1px solid $border_color);
        i {
            color: $secondary_color;
            margin-right: 5px;
        }
    }
    .single-carousel {
        .item {
            margin-right: 5px;
            .slid-img {
                position: relative;
                width: 100%;
                height: 11em;
                .post-img {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    img {
                        position: relative;
                        width: 100%;
                        height: 100%;
                    }

                }
            }
            .slider-cat-name {
                background: $primary_color;
                display: inline-block;
                padding: 5px;
                margin: 3px 0;
                cursor: pointer;
                @include prefixer (border-radius, 3px);
                a {
                    text-decoration: none;
                    color: $secondary_color;
                    font-family: $second-font ;
                    font-weight: 700;
                    font-size: 15px;
                    @include prefixer (transition, all 0.3s);
                    &:hover {
                        color: $white_color;
                        @include prefixer (transition, all 0.3s);
                    }
                }
                span {
                    color: $icon_slid_color;
                    margin-left: 2px;
                    margin-right: 3px;
                }
            }
            .slider-title {
                a {
                    text-decoration: none;
                }
                .post-title {
                    color: $primary_color;
                    font-family: $second-font;
                    font-size: 15px;
                    font-weight: 500;
                    @include prefixer (transition, all 0.3s);
                    &:hover {
                        color: $secondary_color;
                        @include prefixer (transition, all 0.3s);
                    }
                }
            }
        }
    }
}
/*** End slider ***/