//- General Color
$primary_color 					: #222f3e;
$secondary_color				: #ff9900;
$white-color                    : #ffffff;

//- Font Family
$main-font             : 'Lato', sans-serif; 
$second-font           : 'Oswald', sans-serif; 